BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false

AlignAfterOpenBracket: Align
AlignOperands: Align

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements

Cpp11BracedListStyle: true

SortIncludes: CaseSensitive

NamespaceIndentation: None

IndentCaseLabels: true